.body{
    background-color: black;
}


.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: aqua; */
    
    font-family: Poppins;
font-size: 20px;
font-weight: 600;
line-height: 30px;
text-align: right;
color: white;
margin: 0px 20px 0px 20px;

}

.collapse{
    color: #34C94B !important ;
    font-family: Poppins,sans-serif !important;
    font-size: 20px !important;
    font-weight: 600 !important;
    line-height: 30px !important;
    text-align: right !important;
}


.swiperContainer{
position: relative;
}

.prevCustomButton, 
.nextCustomButton {
  position: absolute;
  top: 134px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 10;
}

.prevCustomButton {
  left: 10px;
  transform: translateY(-50%);
}

.nextCustomButton{
  right: 10px;
  transform: translateY(-50%);
}

